name: Pull request

permissions:
  contents: read

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_os_versions: '["jammy"]'
      linux_pre_build_command: ./.github/scripts/prebuild.sh
      linux_swift_versions: '["nightly-main", "nightly-6.2"]'
      windows_swift_versions: '["nightly-main"]'
      windows_build_command: 'Invoke-Program swift test'
      enable_linux_static_sdk_build: true
      linux_static_sdk_build_command: SWIFTBUILD_STATIC_LINK=1 LLBUILD_STATIC_LINK=1 swift build
      enable_macos_checks: true
      macos_xcode_versions: "[\"26.0\"]"
      macos_build_command: swift test

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "Swift"
      api_breakage_check_enabled: false
      format_check_enabled: false
